.sign-in {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
  }

  .sign-in-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
