.cart-dropdown {
  position: fixed;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border: 1px solid #bdbdbd;
  background-color: #dcdcdc;
  top: 80px;
  right: 10px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .empty-message {
    font-size: 18px;
    margin: auto;
    color: #000000;
  }
  button {
    margin-top: 10px;
  }
}
