.checkout {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecf0f1;

    .header-block {
      text-transform: capitalize;
      width: 20%;
      color: #ecf0f1;
      font-size: 20px;

      &:first-child {
        width: 15%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:last-child {
        width: 10%;
      }
    }
  }

  .checkout-footer {
    width: 100%;
    display: flex;
    margin: 40px 0;

    .test-info {
      width: 70%;
      text-align: left;
      font-size: 24px;
      margin-top: 40px;
      color: darkred;
      margin: auto;
    }

    .total {
      margin: auto;
      font-size: 30px;
      color: #ecf0f1;
      text-align: right;
      display: flex;
      flex-direction: column;

      .total-amount {
        font-size: 24px;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}
