.checkout {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;

    .header-block {
      text-transform: capitalize;
      width: 20%;
      font-size: 20px;
      font-weight: 400;

      &:nth-child(2) {
        width: 30%;
      }
      &:last-child {
        width: 10%;
      }
    }
  }

  .checkout-footer {
    width: 100%;
    display: flex;
    margin: 40px 0;

    .test-info {
      width: 70%;
      text-align: left;
      font-size: 20px;
      margin-top: 40px;
      color: darkred;
      margin: auto;
    }

    .total {
      margin: auto;
      font-size: 24px;
      font-weight: bold;
      color: #000000;
      text-align: right;
      display: flex;
      flex-direction: column;

      .total-amount {
        font-size: 24px;
      }

      button {
        margin-top: 10px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 90%;

    .checkout-header {
      .header-block {
        width: 20%;
        font-size: 14px;
        font-weight: bold;

        &:first-child {
          width: 22%;
        }

        &:nth-child(2) {
          width: 28%;
        }

        &:last-child {
          width: 10%;
        }
      }
    }
    .checkout-footer {
      flex-direction: column;
      margin: 0;

      .test-info {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 2rem 0;
        // margin: auto;
        font-weight: 400;
      }
    }
  }
}
