.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #b9b9b9;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .logo {
    height: 60px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-weight: 700;
    }
  }
}
